@import url("https://fonts.googleapis.com/css2?family=Anton&family=Poppins&display=swap");

* {
   margin: 0px;
   padding: 0px;
   transition: all 0.3s ease;
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;

   /* border: 0.5px solid white; */
}

:root {
   --color-bg: #000000;
   --color-font: #fff;
   --color-primary: #c8fec7;
   --color-primary2: #925ff0;
}

body {
   font-family: "Anton", sans-serif;
   background-color: #000000;
}

.wrapper {
   width: 1588px;
   margin: 0 auto;
}

nav {
   top: 0;
   left: 0;
   right: 0;
   z-index: 9999;
}

.wrapper.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 120px;
}

.navbar-nav ul {
   display: flex;
   align-items: center;
   gap: 30px;
}

.navbar-nav.active {
   right: 0;
}

.wrapper.navbar .navbar-nav a {
   color: var(--color-font);
   font-family: "Poppins", sans-serif;
   font-size: 16px;
   display: inline-block;
}

.wrapper.navbar .navbar-nav a:hover {
   color: var(--color-primary2);
   transform: translate(0, -2px);
}

.wrapper.navbar .btn-contact {
   padding: 12px 24px;
   background: #925ff0;
   border-radius: 4px;
   color: var(--color-font);
   font-family: "Poppins", sans-serif;
}

.wrapper.navbar .navbar-button {
   display: flex;
   align-items: center;
}

.wrapper.navbar .navbar-button a {
   font-size: 30px;
   color: var(--color-font);
}

.wrapper.navbar .navbar-button a:hover {
   color: var(--color-primary2);
}

#hamburger-menu {
   display: none;
}

/* Hero */
.hero {
   margin-top: 60px;
}

.wrapper.hero .first-section-hero {
   display: flex;
}

.hero .wrapper.hero {
   /* background-color: #925ff0; */
   height: 778px;
   background-repeat: no-repeat;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.wrapper.hero .kiri-hero {
   align-items: flex-start;
   height: 695px;
}

.kiri-hero .title-hero h1 {
   font-size: 200px;
   color: var(--color-font);
   line-height: 90%;
   font-weight: 400;
}

.kiri-hero .title-hero h2 {
   font-style: normal;
   font-weight: 400;
   font-size: 113px;
   line-height: 90%;

   background: linear-gradient(90deg, #fa709a 0%, #fee140 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
}

.wrapper.hero .second-section-hero {
   margin-top: 70px;
}

.second-section-hero .social-hero {
   display: flex;
   gap: 75px;
}

.second-section-hero .btn-cv {
   width: 700px;
   height: 52px;
   margin-top: 40px;
   background: #292929;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 8px;
}

.second-section-hero .btn-cv p {
   font-size: 20px;
   font-family: "Poppins", sans-serif;
   color: var(--color-font);
}

.second-section-hero .btn-cv i {
   font-size: 22px;
   color: var(--color-font);
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
   html {
      font-size: 12px;
   }
   .wrapper {
      width: 700px;
   }

   .portal-hero,
   .kanan-hero {
      display: none;
   }
}

/* Tablet */
@media (max-width: 768px) {
   .wrapper {
      width: 600px;
   }

   .hero {
      margin-top: 0px;
      display: flex;
      justify-content: center;
   }

   .hero .wrapper.hero {
      width: 600px;
   }

   .wrapper.hero .kiri-hero {
      width: 600px;
   }

   .first-section-hero .title-hero {
      width: 600px;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .first-section-hero .title-hero h1 {
      font-size: 173px;
   }

   .kiri-hero .title-hero h2 {
      font-size: 98px;
   }

   .second-section-hero .social-hero {
      display: flex;
      justify-content: space-between;
      gap: 10px;
   }

   .second-section-hero .btn-cv {
      width: 600px;
   }

   .portal-hero,
   .kanan-hero {
      display: none;
   }
}

/* Mobile */
@media (max-width: 458px) {
   .wrapper {
      width: 300px;
   }
   
   nav {
      position: absolute;
   }

   #hamburger-menu {
      display: inline-block;
   }

   .wrapper.navbar {
      height: 70px;
   }

   .navbar-nav {
      position: absolute;
      top: 100%;
      right: -100%;
      background-color: #fff;
      width: 300px;
      height: 100vh;
   }

   .btn-contact {
      display: none;
   }

   .wrapper.navbar .navbar-nav a {
      color: var(--color-bg);
   }

   .wrapper.navbar .navbar-nav ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 20px;
      gap: 30px;
   }

   .hero .wrapper.hero {
      width: 300px;
   }

   .wrapper.hero .kiri-hero {
      width: 300px;
      margin-top: auto;
   }

   .first-section-hero .title-hero {
      width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .first-section-hero .title-hero h1 {
      font-size: 87px;
      margin-top: 10px;
   }

   .kiri-hero .title-hero h2 {
      font-size: 49px;
   }

   .wrapper.hero .second-section-hero {
      margin-top: 40px;
   }

   .second-section-hero .social-hero {
      display: flex;
      justify-content: space-between;
      gap: 8px;
   }

   .second-section-hero .social-hero img {
      width: 40px;
      height: 40px;
   }

   .second-section-hero .btn-cv {
      width: 300px;
      margin-top: 25px;
   }

   .second-section-hero .btn-cv p {
      font-size: 16px;
   }

   .second-section-hero .btn-cv i {
      font-size: 18px;
   }

   /* .navbar-nav {
      display: none;
   } */
}
